.chattingTitleOption {
  border-bottom: solid 1px #999;
  position: relative;
  padding: 6px 0;
}
.chattingBackIcon {
  margin-left: 16px;
}
.chattingTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-weight: bold;
}
.chattingListContainer .chattingRoom {
  /* margin: 5px; */
  /* padding: 10px 5px; */
  border-bottom: solid 1px #999;
}
/* .chattingListContainer .chattingRoom .userImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #e0e0e0;
  display: inline-block;
  vertical-align: middle;
} */
/*.chattingListContainer .chattingRoom .userName {
  font-size: 15px;
  display: inline-block;
}
.chattingListContainer .chattingRoom .position {
  font-size: 13px;
  display: inline-block;
}
.chattingListContainer .chattingRoom .agoTime {
  font-size: 13px;
  display: inline-block;
}
.chattingListContainer .chattingRoom .lastTalk {
  font-size: 13px;
}
 .chattingListContainer .chattingRoom .titleImg {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  vertical-align: middle;
  float: right;
} */
/* .chattingListContainer .chattingRoom .centerBox {
  display: inline-block;
} */
