.layout {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  overflow: auto;
  position: relative;
  background-color: #f1f1f1;
}

.container {
  background-size: cover;
  margin: auto;
  /* overflow: auto; */
}
.wrapper {
  /* height: calc(100vh - 96px); */
  height: calc(100vh - 108px);
  overflow: auto;
}
.headerNoneStyle .wrapper {
  height: calc(100vh - 60px);
}

/* Header */
.topnav {
  height: 48px;
  overflow: hidden;
  background-color: #4caf50;
}
.bottomnav {
  height: 60px;
  overflow: hidden;
  background-color: #4caf50;
}
.bottomnav {
  display: flex;
  justify-content: space-between;
}
.bottomnav .menu_btn {
  padding: 15px 20px;
  color: white;
  font-size: 30px;
}
.bottomnav .menu_btn div {
  display: inline-block;
}

.topnav-right {
  float: right;
}

.topnav-right div {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

/* nav menu */
.navOverlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
.navOpen {
  height: 100%;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.navOverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navOverlay a:hover,
.navOverlay a:focus {
  color: #f1f1f1;
}
.navOpenBtn {
  font-size: 30px;
  cursor: pointer;
}
.navOverlay .navCloseBtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #818181;
}

@media screen and (max-height: 450px) {
  .navOverlay {
    overflow-y: auto;
  }
  .navOverlay a {
    font-size: 20px;
  }
  .navOverlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
