.productInfoContainer .slide {
  width: 425px;
  height: 195px;
  background-color: #7f7f7f;
}
.productInfoContainer .userInfo {
  width: 425px;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.productInfoContainer .userInfo .uerImg {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.userInfoContainer {
  width: calc(100% - 166px);
  display: inline-block;
  vertical-align: middle;
}
.productInfoContainer .userInfo .mannerCount {
  width: 101px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
.productInfoContainer .userInfo .mannerCount span {
  display: inline-block;
  vertical-align: middle;
}
.productInfoContainer .userInfo .mannerCount span:first-child {
  margin-right: 5px;
}
